<h4>Recent Comments</h4>
<hr>
<div>
<% unless @recentcomments.nil? %>
	<% @recentcomments.each do |r| %>
			<div class="row">
				<div class="col-md-12">
				  	<%= link_to r.body.truncate(30), '/posts/'+r.post_id.to_s %>	
				 </div> 

			</div>
			<div class="row">
				<div class="col-md-12 font8">
					<%= r.created_at.strftime('%v')%>  by  <%= r.user.email %> 
				</div>
			</div>
	    <br/>
	<% end %>
<% end %>
</div>
