<h1>About</h1>
<p>Little  Ruby On Rails project created fot testing purpuses.</p>
<br>
<h3>Created with:</h3>
<ul>
	<li>Ruby 2.2.2</li>
	<li>Rails 4.2.3</li>
	<li>Devise</li>
	<li>Paperclip</li>
	<li>Bootstrap-sass</li>
</ul>

<i>September 2015</i>
