<h1>Contact</h1>
<p>
	<h4>Linked in</h4>
	<h5><a href="https://ba.linkedin.com/in/nezir">https://ba.linkedin.com/in/nezir</a></h5>
	<br>
	<h4>Twitter</h4>
	<h5><a href="https://twitter.com/nezirzahirovic">https://twitter.com/nezirzahirovic</a></h5>
	<br>
	<h4>.NET Blog</h4>
	<h5><a href="http://bosnia-aspnet.blogspot.ba/">http://bosnia-aspnet.blogspot.ba/</a></h5>
	<br>
	<h4>Rails Blog</h4>
	<h5><a href="http://rubyonrailsafterdotnet.blogspot.ba/">http://rubyonrailsafterdotnet.blogspot.ba/</a></h5>
	<br>
	<h4>GutHub</h4>
	<h5><a href="https://github.com/zirexba">https://github.com/zirexba/</a></h5>
	<br>
</p>
