@import "bootstrap-sprockets";
@import "bootstrap";

p{
	padding: 10px 0;
}
a:hover{
	color: #000;
	text-decoration: none;
	font-weight: 700;
}
.right_sidebar{
    height: 300px;
}
.main_content{

}
img {
    float: left;
    margin: 15px;
}
.center{
    margin: auto;
    width: 90%;
    
    padding: 10px;
}
.menuspan{
	background-color: #222;
	padding: 8px;
	border-radius: 15px;
	color: #fff;
}
.menuspan:hover{
	background-color: #677073;
}
.menufont{
	font-size: 10px;
}
.font8{
	font-size: 8px;
}
.font10{
	font-size: 10px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}

.font16{
	font-size: 16px;
}
.title{
	margin: 10px;
	font-size: 26px;
}
.rowheight{
	line-height: 15px;
}
.right{
	text-align: right;
}
.mTop5 { margin-top:5px; }
.mTop10 { margin-top:10px; }
.mTop15 { margin-top:15px; }
.mTop20 { margin-top:20px; }
.mTop30 { margin-top:30px; }

.pTop10 { padding-top: 10px; }
.pTop15 { padding-top: 15x; }
.pTop20 { padding-top: 20px; }

.pLR5 { padding:0 5px; }
.pLR10 { padding:0 10px; }
.pLR15 { padding:0 15px; }
.pLR20 { padding:0 20px; }
.pLR30 { padding:0 30px; }